<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <title>Membresias</title>
</head>

<body>
  <%- include('./partials/header') %>
  <h1>Conocé todas nuestras opciones de membresías</h1>

  <a href="/carrito"><img src="/img/Planes-Suscripcion-1.jpg" /></a>
  <!-- <a href="/carrito"><img src="/img/Boton-Standard-Pack.png" width="30%" height="41px" /></a>
  <a href="/carrito"><img src="/img/Boton-Pro-Pack.png" width="30%" height="41px" /></a> -->

  <%- include('./partials/footer') %>
</body>

</html>