<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Asociarte</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->
    <main class="padding-16">
      <h1>Asociarte</h1>
      <form action="/service" method="POST" enctype="multipart/form-data">
        <div class="form-input">
          <label class="main-label" for="professionalName">Nombre y Apellido</label>
          <input id="professionalName" type="text" name="professionalName" />
        </div>

        <div class="form-input">
          <label class="main-label" for="cuilCuit">Cuil/Cuit</label>
          <input id="cuilCuit" type="number" name="cuilCuit" />
        </div>

        <div class="form-input">
          <label class="main-label" for="dni">DNI</label>
          <input id="dni" type="number" name="dni" />
        </div>

        <div class="form-input">
          <label class="main-label" for="profession">Profesion</label>
          <input id="profession" type="text" name="profession" />
        </div>

        <div class="form-input">
          <label class="main-label" for="professionalImage">Foto de Perfil</label>
          <input id="professionalImage" type="file" name="professionalImage" />
        </div>

        <div class="form-input">
          <label class="main-label" for="professionalLocation">Localidad</label>
          <input id="professionalLocation" type="text" name="professionalLocation" />
        </div>

        <div class="form-input">
          <label class="main-label" for="professionlDescription">Descripcion</label>
          <textarea name="professionlDescription" id="professionlDescription"></textarea>
        </div>

        <div class="form-input">
          <label class="main-label" for="payMethod">Metodos de pago</label>
          <input id="payMethod" type="text" name="payMethod" />
        </div>

        <div class="form-input">
          <label class="main-label" for="celphone">Numero de celular</label>
          <input id="celphone" type="number" name="celphone" />
        </div>

        <button type="submit">Enviar</button>
        <button type="reset">Resetear</button>
      </form>
    </main>
    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
