<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Asociarte</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->
    <main class="padding-16">
      <h1>Asociarte</h1>
      <form action="/service" method="POST" enctype="multipart/form-data">
        <div class="form-input">
          <label class="main-label" for="name">Nombre y Apellido</label>
          <input id="name" type="text" name="name" />
        </div>

        <div class="form-input">
          <label class="main-label" for="cuilCuit">Cuil/Cuit</label>
          <input id="cuilCuit" type="number" name="cuilCuit" />
        </div>

        <div class="form-input">
          <label class="main-label" for="dni">DNI</label>
          <input id="dni" type="number" name="dni" />
        </div>

        <div class="form-input">
          <label class="main-label" for="profession">Profesion</label>
          <input id="profession" type="text" name="profession" />
        </div>

        <div class="form-input">
          <label class="main-label" for="profileImage">Foto de Perfil</label>
          <input id="profileImage" type="file" name="profileImage" />
        </div>

        <div class="form-input">
          <label class="main-label" for="location">Localidad</label>
          <input id="location" type="text" name="location" />
        </div>

        <div class="form-input">
          <label class="main-label" for="description">Descripcion</label>
          <textarea name="description" id="description"></textarea>
        </div>

        <div class="form-input">
          <label class="main-label" for="payMethod">Metodos de pago</label>
          <input id="payMethod" type="text" name="payMethod" />
        </div>

        <div class="form-input">
          <label class="main-label" for="celphone">Numero de celular</label>
          <input id="celphone" type="number" name="celphone" />
        </div>

        <div class="form-input">
          <label class="main-label" for="email">Correo electronico</label>
          <input id="email" type="email" name="email" />
        </div>
        <button type="submit">Enviar</button>
        <button type="reset">Resetear</button>
      </form>
    </main>
    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
