<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("../partials/head") %>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->
    <form action="/service/edit?_method=PUT" method="POST">
      <!-- Formulario con tags EJS, que varie dependiendo el usuario a editar, se necesita informacion ya existente -->
      <input type="submit" name="" id="" />
    </form>
    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
