<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("../partials/head") %>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->
    <h1>Aca el profesional edita su perfil</h1>
    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
