<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/css/utilidades.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <title>OLA</title>
  </head>
  <body>
    <header>
      <div class="header-barra flex w-100">
        <img src="/img/Logo OLA_Mesa de trabajo 1.png" width="10%" />
        <div class="header-dos flex">
          <i class="fas fa-shopping-cart burger-menu"></i>
          <i class="fas fa-bars burger-menu"></i>
        </div>
      </div>

      <nav id="main-nav" class="hide">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Asociate</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
        <ul>
          <li><a href="#">Iniciar sesion</a></li>
          <li><a href="#">Registrate</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="espacio-vacio">
        <span></span>
      </div>
      <img
        class="w-100 block banner"
        src="https://fondosmil.com/fondo/57266.jpg"
        alt=""
      />
      <div id="enlaces" class="">
        <ul class="centrado">
          <li><a href="#">Preguntas frecuentes </a></li>
          <li><a href="#">Preguntas frecuentes </a></li>
          <li><a href="#">Preguntas frecuentes </a></li>
        </ul>
      </div>

      <div class="">
        <div class="contenedor flex">
          <div class="descripcion">
            <h1 class="rm-margin weight-0">Que hacemos</h1>
            <p class="">
              Nuestra mision es facilitar la resolucion de problemas en el area
              de construcción donde contamos con profesionales capaces de ayudar
              ¡a la vuelta de la esquina!.
            </p>
            <p class="">
              Nuestra mision es facilitar la resolucion de problemas en el area
              de construcción donde contamos con profesionales capaces de ayudar
              ¡a la vuelta de la esquina!.
            </p>
          </div>
          <img
            class="w-100 block"
            src="https://www.beresrichard.hu/images/kapcsolt/minimal%20home%20staging.jpg"
            alt=""
          />
        </div>

        <div class="contenedor flex">
          <div class="descripcion">
            <h1 class="rm-margin weight-0">Recomendaciones</h1>
            <p class="">
              Recomendamos que sea minusiono a la hora de buscar un profesional,
              contamos con un gran catalogo y distintos filtros para encontrar
              la mejor opcion al problema.
            </p>
            <p class="">
              Recomendamos que sea minusiono a la hora de buscar un profesional,
              contamos con un gran catalogo y distintos filtros para encontrar
              la mejor opcion al problema.
            </p>
          </div>
          <img
            class="w-100 block order-1"
            src="https://www.beresrichard.hu/images/kapcsolt/minimal%20home%20staging.jpg"
            alt=""
          />
        </div>

        <div class="contenedor flex">
          <div class="descripcion">
            <h1 class="rm-margin weight-0">Categorias</h1>
            <p class="">
              Contamos con una variedad de profesionales y distintas areas de la
              construcción para cumplir con los requirimientos de nuestros
              clientes. problemas
            </p>
            <p class="">
              Contamos con una variedad de profesionales y distintas areas de la
              construcción para cumplir con los requirimientos de nuestros
              clientes. problemas
            </p>
          </div>
          <img
            class="w-100 block"
            src="https://www.beresrichard.hu/images/kapcsolt/minimal%20home%20staging.jpg"
            alt=""
          />
        </div>

        <div class="contenedor flex">
          <div class="descripcion">
            <h1 class="rm-margin weight-0">Certificados</h1>
            <p class="">
              Nuestro servicio nos facilita encontrar las mejores opciones
              contando asi con certificados de cada profesional para verificar
              su rendimiento.
            </p>
            <p class="">
              Nuestro servicio nos facilita encontrar las mejores opciones
              contando asi con certificados de cada profesional para verificar
              su rendimiento.
            </p>
          </div>
          <img
            class="w-100 block order-1"
            src="https://www.beresrichard.hu/images/kapcsolt/minimal%20home%20staging.jpg"
            alt=""
          />
        </div>
      </div>
    </main>

    <footer>
      <h4>Secciones</h4>
      <div>
        <ul>
          <li><a href="">Iniciar sesion</a></li>
          <li><a href="">Registrate</a></li>
          <li><a href="">Asociate</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </div>
      <h4>Servicios</h4>
      <div>
        <ul>
          <li><a href="">Usuarios</a></li>
          <li><a href="">Profesionales</a></li>
          <li><a href="">Presupuestos</a></li>
          <li><a href="">Consultas</a></li>
        </ul>
      </div>
      <h4>Seguinos</h4>
      <div>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-tiktok"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </footer>
  </body>
</html>
