<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLA</title>
</head>
<body>
    <header>
        <img src = "/img/Logo-OLA-color.jpg">
        <p>La solución a los problemas del hogar puede estar a la vuelta de la esquina, literalmente.</p>
        <nav>
            <ul>
                <li>Home</li>
                <li>Servicios</li>
                <li>Asociate</li>
                <li>Contacto</li>
            <br>
            <ul>
                <li>Iniciar sesión</li>
                <li>Registrarte</li>
            </ul>
        <img src="/img/carrito de compras-01.svg">
        </nav>
    </header>
    
</body>
</html>