<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLA</title>
</head>
<body>
    <header>
        <img src = "/img/Logo-OLA-color.jpg">
        <p>La solución a los problemas del hogar puede estar a la vuelta de la esquina, literalmente.</p>
        <nav>
            <ul>
                <li>Home</li>
                <li>Servicios</li>
                <li>Asociate</li>
                <li>Contacto</li>
            <br>
            <ul>
                <li>Iniciar sesión</li>
                <li>Registrarte</li>
            </ul>
        <img src="/img/carrito de compras-01.svg">
        </nav>
    </header>
    <main>
        <img src="/img/banner 1-01.jpg" alt="Banner">
        <section>
            <h1>Otro lo arregla</h1>
            <article>
                <p>Encontrá la mejor oferta de profesionales disponibles para realizar arreglos y reparaciones en tu hogar. 
                    Electricistas, gasistas, plomeros, pintores, albañiles y muchos más, todos ordenados según la cercanía a
                    tu casa. Consulta y obtené respuestas y presupuestos en cuestion de minutos. 
                </p>
            </article>
        </section>
        <section>
           <img src="/img/banner 2-01.jpg" alt="Banner2">
           <article>
                <h2>Sumate a la comunidad OLA</h2>
                <p>Registrate y accedé al mejor catálogo de profesionales de la construcción ordenado por cercanía.
                Si sos profesional, asociate ¡Y empezá a ofrecer tus servicios!
                </p>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li>Iniciar sesión</li>
                <li>Registrarte</li>
                <li>Asociate</li>
                <li>Contacto</li>
        <h5>Servicios</h5>
        <nav>
            <ul>
                <li>Usuarios</li>
                <li>Profesionales</li>
                <li>Presupuestos</li>
                <li>Consultas</li>
            </ul>
        <h5>Seguinos</h5>

    </footer>
    </body>
</html>