* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Century Gothic Regular";
}

.titulares {
  font-family: "Franklin Gothic Heavy";
}

#main-nav a {
  text-decoration: none;
}

#main-nav ul {
  list-style-type: none;
}

#titular {
  position: absolute;
}

#enlaces a {
  text-decoration: 0;
}

#enlaces ul {
  list-style-type: none;
  padding: 0;
}

.burger-menu {
  text-decoration: none;
}

.header-barra {
  background-color: orange;
  position: fixed;
  top: 0;
  justify-content: space-between;
}

.header-dos {
  align-items: center;
  justify-content: space-around;
  width: 20%;
  font-size: 20px;
}

.banner {
  max-height: 600px;
}

.descripcion {
  padding: 10% 5%;
}

@media (min-width: 480px) {
  #enlaces ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
  }
  #enlaces li {
    margin: 0 10px;
  }

  .header-dos {
    font-size: 26px;
  }
}

@media (min-width: 769px) {
  .contenedor {
    margin-bottom: 100px;
  }

  .contenedor img {
    width: 50%;
  }

  .descripcion {
    width: 50%;
    align-self: center;
    padding: 0 5%;
  }

  .order-1 {
    order: -1;
  }
  #enlaces li {
    margin: 0 40px;
  }
}

.espacio-vacio {
  height: 34px;
}
