* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Century Gothic Regular";
  line-height: 1.8;
}

/* Header */

.header-barra {
  background-color: orange;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 60px;
}

.header-dos {
  align-items: center;
  justify-content: space-around;
  width: 20%;
  font-size: 22px;
}

.burger-menu {
  text-decoration: none;
}

#main-nav a {
  text-decoration: none;
}

#main-nav ul {
  list-style-type: none;
  padding: 0;
}

/* Detalle del servicio */

.banner {
  max-height: 600px;
}

.contenedor a {
  text-decoration: 0;
}

#enlaces ul {
  list-style-type: none;
  padding: 0;
}

.descripcion {
  padding: 10% 5%;
}

/* Profesionales */

.contenedor-p {
  width: 85%;
  margin: 50px auto;
}
.contenedor-p a {
  text-decoration: 0;
}

.contenedor-p ul {
  list-style-type: none;
  padding: 0;
}

.profesional {
  background-color: orange;
}

.detalle {
  padding: 15px;
}

/* Footer */

.footer-cajas a {
  text-decoration: none;
}

.footer-cajas ul {
  list-style-type: none;
  padding: 0;
}

/* Ignorar solo es para el logo no se vea, ya
que es necesario poner otro */

header img {
  opacity: 0;
}

.espacio-vacio {
  height: 60px;
}
