* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Century Gothic Regular";
}

.titulares {
  font-family: "Franklin Gothic Heavy";
}

#enlaces {
}

#enlaces a {
  text-decoration: 0;
}

#enlaces ul {
  list-style-type: none;
  padding: 0;
}

/* 

header {
  background-color: #f7931e;
}

main {
  background-color: #b3b3b3;
}

footer {
  background-color: #f7931e;
}

*/

.banner {
  max-height: 600px;
}

.descripcion {
  padding: 10% 5%;
}

@media (min-width: 480px) {
}

@media (min-width: 769px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .contenedor img {
    width: 50%;
  }

  .descripcion {
    width: 50%;
    align-self: center;
    padding: 0 5%;
  }

  .order-1 {
    order: -1;
  }

  #enlaces {
    justify-content: center;
    padding: 15px 0;
  }

  #enlaces li {
    margin: 0 30px;
  }
}
