.rm-margin {
  margin: 0;
}

.weight-0 {
  font-weight: 100;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.centrado {
  text-align: center;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.titulares {
  font-family: "Franklin Gothic Heavy";
}

.padding-16 {
  padding: 16px;
}
