<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>OLA</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("./partials/header") %>
    <!-- Main -->
    <main>
      <h1>Asociate con nostros y volvete parte de la comunidad más grande de profesionales de servicios en la Argentina</h1>
      <a href="/carrito"><img src="/img/Planes-Suscripcion-1.jpg" /></a>
      <a href="/service/create"><input type="button" value="Asociarte" /></a>
    </main>
    <!-- footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
