<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("./partials/head") %>
  <body>
    <!-- Header -->
    <%- include("./partials/header") %>
    <!-- Main -->
    <main>
      <h1>Aca ira beneficios de asociarte con nosotros</h1>
      <a href="/service/create"><input type="button" value="Asociarte" /></a>
    </main>
    <!-- footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
