<!DOCTYPE html>
<html lang="en">

<!-- Head -->
  <%- include("./partials/head") %>
  <body>
    <!-- Header -->
    <%- include("./partials/header") %>
    <!-- Main -->
    <main>
      <img class="w-100" src="/img/banner 1-01.jpg" alt="Banner" />
      <section>
        <h1 class="centrado">Otro lo arregla</h1>
        <article>
          <p class="centrado">
            Encontrá la mejor oferta de profesionales disponibles para realizar
            arreglos y reparaciones en tu hogar. Electricistas, gasistas,
            plomeros, pintores, albañiles y muchos más, todos ordenados según la
            cercanía a tu casa. Consulta y obtené respuestas y presupuestos en
            cuestion de minutos.
          </p>
        </article>
      </section>
      <section>
        <img class="w-100" src="/img/banner 2-01.jpg" alt="Banner2" />
        <article>
          <h2 class="centrado">Sumate a la comunidad OLA</h2>
          <p class="centrado">
            Registrate y accedé al mejor catálogo de profesionales de la
            construcción ordenado por cercanía. Si sos profesional, asociate ¡Y
            empezá a ofrecer tus servicios!
          </p>
        </article>
      </section>
    </main>
    <!-- footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
