<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("./partials/head") %>
  <body>
    <!-- Header -->
    <%- include("./partials/header") %>
    <!-- Main -->
    <main>
      <h1 class="centrado">Esta es nuestra lista de profesionales</h1>
      <div id="main" class="flex">
        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>

        <div class="contenedor-p">
          <div class="profesional">
            <a href="#">
              <img
                src="https://www.trabajosenobra.cl/assets/img/sonrisa.png"
                alt="Obrero"
                class="w-100 block"
              />
            </a>
            <div class="detalle">
              <a href="#"><h1>Aaron Velazques</h1></a>
              <h2>Obrero</h2>
              <p>Disponible</p>
              <p>Inmuebles y ventanas</p>
            </div>
          </div>
        </div>
      </div>

      <div></div>
    </main>
    <!-- footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
