<header>
  <div class="header-barra flex w-100">
    <img src="/img/Logo OLA_Mesa de trabajo 1.png" width="10%" height="60px" />
    <div class="header-dos flex">
      <i class="fas fa-shopping-cart burger-menu"></i>
      <i class="fas fa-bars burger-menu"></i>
    </div>

    <nav id="main-nav" class="hide">
      <ul id="primer-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/service">Servicios</a></li>
        <li><a href="/associate">Asociate</a></li>
        <li><a href="/service/professionals">Profesionales</a></li>
      </ul>
      <ul class="segundo-ul">
        <li><a href="/users/register">Registrarse</a></li>
        <li><a href="/users/login">Ingresar</a></li>
      </ul>
    </nav>
    <div class="header-tres hide">
      <a href="/users/cart"><i class="fas fa-shopping-cart burger-menu"></i></a>
    </div>
  </div>
  <div class="espacio-vacio">
    <span></span>
  </div>
</header>
