<header>
  <div class="header-barra flex w-100 animation-down">
    <img src="/img/Logo OLA_Mesa de trabajo 1.png" width="10%" height="60px" />
    <div class="header-dos flex">
      <i class="fas fa-shopping-cart burger-menu"></i>
      <i class="fas fa-bars burger-menu"></i>
    </div>

    <nav id="main-nav" class="hide">
      <ul id="primer-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/service">Servicios</a></li>
        <li><a href="/associate">Asociate</a></li>
        <li><a href="/service/professionals">Profesionales</a></li>
      </ul>
      <ul class="segundo-ul">
        <li><a href="/user/register">Registrarse</a></li>
        <li><a href="/user/login">Ingresar</a></li>
      </ul>
    </nav>
    <div class="header-tres hide">
      <a href="/user/cart"><i class="fas fa-shopping-cart burger-menu"></i></a>
    </div>
  </div>

  <!-- Input de busqueda aún no implementado. -->

  <!-- <div id="search" class="padding-8 w-50 aling-self">
    <form class="flex no-wrap searchbar w-100">
      <input
        type="text"
        class="w-100"
        placeholder="Buscar productos, marcas"
      />
      <button><i class="fa fa-search"></i></button>
    </form>
  </div> -->
  <div class="espacio-vacio">
    <span></span>
  </div>
</header>