<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>OLA</title>
  </head>
  <body>
    <%- include('../partials/header') -%>
    <h1>Conocé todas nuestras opciones de membresías</h1>
    <a href="/associate"
      ><img src="/img/Boton-pruebra-gratis.png" width="30%"
    /></a>
    <a href="/carrito"
      ><img src="/img/boton-standard-pack.png" width="30%"
    /></a>
    <a href="/carrito"><img src="/img/Boton-Pro-Pack.png" width="30%" /></a>
    <%- include('../partials/footer') -%>
  </body>
</html>
