<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head") %>
    <script src="js/js-front.js"></script>
    <title>Registrate</title>
</head>

<body>
  <!-- Header -->
  <%- include("../partials/header") %>
    <!-- Main -->
    <main class="padding-16">
      <h1>Registrarte</h1>

      <form action="/user/register" method="POST" enctype="multipart/form-data" class="register">

        <div class="form-input">
          <label class="main-label" for="userName">Nombre y Apellido</label>
          <input id="userName" type="text" name="userName">
        </div>

        <div class="form-input">
          <label class="main-label" for="birthday">Fecha de nacimiento</label>
          <input id="birthday" type="date" name="birthday" />
        </div>

        <div class="form-input">
          <label class="main-label" for="email">Correo electronico</label>
          <input id="email" type="email" name="email">
        </div>

        <div class="form-input">
          <label class="main-label" for="userImage">Foto de usuario</label>
          <input id="userImage" type="file" name="userImage">
        </div>

        <div class="form-input">
          <label class="main-label" for="userPassword">Contraseña</label>
          <input id="userPassword" type="password" name="userPassword">
        </div>

        <div class="form-input">
          <label class="main-label" for="rePassword">Repetir contraseña</label>
          <input id="rePassword" type="password" name="rePassword" />
        </div>

        <button type="submit">Enviar</button>
        <button type="reset">Resetear</button>
      </form>
    </main>

    <% if (locals.errors1) { locals.errors1.forEach(element=> { %>
      <p>
        <%= element.msg %>
      </p>
    <% }) } %>

    <!-- footer -->
    <%- include("../partials/footer") %>
</body>

</html>